<nav class="navbar-blue navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--back mark-->
    <p class="navbar-text pull-left">
      <a [routerLink]="['/memes']" class="navbar-link"><span
        class="glyphicon glyphicon-chevron-left white"></span></a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="white">View Meme</b>
      </a>
    </p>

    <!--plus mark-->
    <p class="navbar-text pull-right" [hidden]="!isMine">
      <button [disabled]="!f.valid || !isMine" (click)="submit()" class="navbar-link navbar-blue"><span
        class="glyphicon glyphicon-ok white"></span></button>
    </p>

  </div>
</nav>

<div class="container-fluid col-xs-6">
  <img src="{{memeUrl}}" class="meme-center">
  <br/><br/><br/><br/>
  <div>
    <div
      *ngIf="(top.invalid && top.touched) || (bottom.invalid && bottom.touched) || (description.invalid && description.touched) || errorFlag"
      class="alert alert-danger">
      {{errorMsg}}
    </div>
    <form #f="ngForm">
      <div class="form-group">
        <label>Poster: {{authorName}}</label>
      </div>
      <div class="form-group" [hidden]="!isMine">
        <label for="top">Top Text</label>
        <input #top="ngModel" [ngModel]='meme.topText' required name="top" type="text"
               class="form-control" id="top" placeholder="Top Text" [disabled]="!isMine">
        <span class="help-block" *ngIf="top.invalid && top.touched">
          Please enter a Top Text!
        </span>
      </div>
      <div class="form-group" [hidden]="!isMine">
        <label for="bottom">Bottom Text</label>
        <input #bottom="ngModel" [ngModel]='meme.bottomText' required name="bottom" type="text"
               class="form-control" id="bottom" placeholder="Bottom Text" [disabled]="!isMine">
        <span class="help-block" *ngIf="bottom.invalid && bottom.touched">
          Please enter a Bottom Text!
        </span>
      </div>
      <div class="form-group">
        <label for="description">Meme Description:</label>
        <div [hidden]="!isMine">
        <textarea #description="ngModel" [ngModel]='meme.description' required name="description" type="text"
                  class="form-control" id="description" placeholder="Meme Description"
                  rows="3" [disabled]="!isMine"></textarea>
          <span class="help-block" *ngIf="description.invalid && description.touched">
          Please enter a Meme Description!
        </span>
        </div>
        <div [hidden]="isMine">
          <p>{{meme.description}}</p>
        </div>
      </div>
      <div [hidden]="!isMine">
        <button [disabled]="!isMine" (click)="onDelete()" class="btn-danger form-control button-top-margin">Delete
        </button>
      </div>
    </form>
  </div>
</div>
<div class="container-fluid col-xs-6">
  <label>Comments:</label>
  <ul class="list-group">
    <li class="list-group-item borderless" *ngFor="let comment of comments">
      {{comment.comment}}
      <a (click)="delete(comment)" class="pull-right" [hidden]="!myComment(comment)"><span
        class="glyphicon glyphicon-trash"></span></a>
      <p class="pull-right" [hidden]="myComment(comment)"><span>- {{whoseComment(comment)}}</span></p>
    </li>
  </ul>
  <form #f2="ngForm">
  <textarea #comment="ngModel" name="comment" type="text" [ngModel]=''
            class="form-control" id="comment" placeholder="Add a Comment!"
            rows="3"></textarea>
    <br/>
    <a (click)="submitComment()" class="btn btn-primary btn-block">Add comment</a>
  </form>
</div>

<!-- Footer -->
<nav class="navbar-blue navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']"><span
        class="glyphicon glyphicon-user white"></span></a>
    </p>
  </div>
</nav>
