<div class="container">

  <h1 class="center-text">
    About Teacher/Student Meme Wars:
  </h1>


  <h4 class="center-text">
    Meme wars is a project developed with the intent of breaking down social barriers between students and their teachers!
    It combines the free reign jibing of your fellow human the internet provides with a little healthy competition in order
    to bring students and teachers closer together, while making both more easily approachable to the other.
  </h4>

  <br>
  <a [routerLink]="['/login']" class="btn btn-primary btn-block">Login</a>
  <a [routerLink]="['/register']" class="btn btn-success btn-block">Register</a>
  <a [routerLink]="['/memes']" class="btn btn-default btn-block">Continue Anonymously</a>
  <a [routerLink]="['/']" class="btn btn-info btn-block">Home Page</a>

</div>
