<form #f="ngForm">
  <div class="form-group">
    <label for="url">Url</label>
    <input placeholder="url"
           [ngModel]="imageUurl"
           name="url"
           type="text"
           class="form-control"
           id="url"
           ngModel
           required
           #url="ngModel"/>
    <span class="help-block" *ngIf="url.invalid && url.touched">
        Please enter a url!
      </span>
  </div>

  <div class="form-group">
    <label for="topText">Top Text</label>
    <input placeholder="First Name"
           [ngModel]="top"
           name="topText"
           type="text"
           class="form-control"
           id="topText"
           ngModel
           required
           #topText="ngModel"/>
    <span class="help-block" *ngIf="topText.invalid && topText.touched">
        Please enter a First Name!
      </span>
  </div>

  <div class="form-group">
    <label for="bottomText">Bottom Text</label>
    <input placeholder="bottomText"
           [ngModel]="bottom"
           name="bottomText"
           type="text"
           class="form-control"
           id="bottomText"
           ngModel
           required
           #bottomText="ngModel"/>
    <span class="help-block" *ngIf="!bottomText.valid && bottomText.touched">
        Please enter a Last Name!
      </span>
  </div>
  <a (click)="submit()" class="btn btn-primary btn-block">Get Meme</a>
  <br>
  <img src="{{imageUrl}}">
</form>
