<div class="container">

  <h1 class="text-center">
    Teacher/Student Meme Wars!
  </h1>


  <h3 class="text-center">
    Welcome to the teacher vs student meme center!
  </h3>

  <a [routerLink]="['/login']" class="btn btn-primary btn-block">Login</a>
  <a [routerLink]="['/register']" class="btn btn-success btn-block">Register</a>
  <a [routerLink]="['/memes']" class="btn btn-default btn-block">Continue Anonymously</a>
  <a [routerLink]="['/about']" class="btn btn-info btn-block">About Meme Wars</a>

</div>
