<nav class="navbar-blue navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--back mark-->
    <p class="navbar-text pull-left">
      <a [routerLink]="['/users']" class="navbar-link"><span
        class="glyphicon glyphicon-chevron-left white"></span></a>
    </p>

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b class="white">Edit User</b>
      </a>
    </p>

    <!--tick mark-->
    <p class="navbar-text pull-right">
      <button [disabled]="!f.valid" (click)="submit()" class="navbar-link navbar-blue"><span
        class="glyphicon glyphicon-ok white"></span></button>
    </p>

  </div>
</nav>

<div class="container">
  <div>
    <h1>You are editing user: {{user.username}}</h1>
  </div>
  <form #f="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input placeholder="username"
             [ngModel]="user.username"
             name="username"
             type="text"
             class="form-control"
             id="username"
             ngModel
             required
             #username="ngModel"/>
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input placeholder="First Name"
             [ngModel]="user.firstName"
             name="firstName"
             type="text"
             class="form-control"
             id="firstName"
             ngModel
             #firstName="ngModel"/>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input placeholder="lastName"
             [ngModel]="user.lastName"
             name="lastName"
             type="text"
             class="form-control"
             id="lastName"
             ngModel
             #lastName="ngModel"/>
    </div>
    <div class="form-group">
      <label for="type">Type of user:</label>
      <div id="type">
        <input type="radio" name="type" value="student" ngModel="{{type}}">Student
        <input type="radio" name="type" value="teacher" ngModel="{{type}}">Teacher
        <input type="radio" name="type" value="admin" ngModel="{{type}}">Admin
      </div>
    </div>
  </form>
  <button (click)="onDelete()" class="btn btn-danger btn-block">Delete User</button>

</div>

<!-- Footer -->
<nav class="navbar-blue navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']"><span class="glyphicon glyphicon-user white"></span></a>
    </p>

  </div>
</nav>
